/* variable for font  */
:root {
    --secondary: #4265F0;
}
/* import from google font  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Bungee+Shade&family=Megrim&family=Orelega+One&display=swap');
/* edit all pade  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: rgba(255, 255, 255, 0.842);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

article h2 {
    margin-left: 100px;
}

section h2 {
    margin-left: 117px;
    margin-top: 80px;
    
}

footer h2 {
    margin-left: 0px;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2d2d2f;
    
}

.header h1 {
    display: inline-block;
    background-color: #4265F0;
    color:  #ffff;
    padding-left: 100px;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 

header {
    list-style-type: none;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

 nav a {
    text-decoration: none;
    margin-left: 8px;
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    color:  #ffff;
    padding: 5px 10px;
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
 }
nav a:hover {
    background-size: 100%;
    color: #ffff;

}

.main-headers {
    padding-left: 100px;
    /* margin-left: 20%; */
    color: #3c456a;
    display: flex;   
}

.main-headers h2 {
    font-size: 50px;
    text-align: right;
}


.main-content p {
     color: #3c456a;
     text-align: end;
     margin-left: 20px;
     padding: 10px;
}



.hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 300px;
    background-image: url("../assets/img/background.jpg");
    background-size: cover;
    
}

.portfolio {
  background-color: #4265F0;
  color: #ffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  display: inline;
  margin-bottom: 50px;
  margin-right: 50px;
  padding: 10px;
}

.mainBtn {
    font-size: 100px !important;
}

.modalPic {
    width: 100%;
}

#modalLink {
    text-decoration: none;
    color: white;
    background-color: rgb(121, 85, 189);
    padding: 7px;
    border-radius: 0.25rem;
}
#modal2Link {
    text-decoration: none;
    color: #2d2d2f;
    background-color: #ABDBCE;
    padding: 7px;
    border-radius: 0.25rem;
}
#modal3Link {
    text-decoration: none;
    color: white;
    background-color: rgb(45, 88, 207);
    padding: 7px;
    border-radius: 0.25rem;
}
#modal4Link {
    text-decoration: none;
    color: #2d2d2f;
    background-color: rgb(216, 176, 102);
    padding: 7px;
    border-radius: 0.25rem;
}
#modal5Link {
    text-decoration: none;
    color: #2d2d2f;
    background-color: rgb(189, 85, 85);
    padding: 7px;
    border-radius: 0.25rem;
}

h5 {
    margin-left: auto;
    margin-right: auto;
}

.modal-header .btn-close {
    margin: 0px !important;
    padding: 0px !important;
}
#pic-1 {
    height: 300px;
    width: 100%;
    margin-top: 100px;
    background-image: url("./img/pic-1-dark.png");
    background-size: cover;
 } 


 
#pic-2 {
    height: 150px;
    width: 50%;
    padding-top: 0;
    margin-top: 0;
    background-image: url("./img/weather-dark.png");
    background-size: cover;
    
}



#pic-3 {
    height: 150px;
    width: 50%;
    padding-top: 0;
    margin-top: 0;
    bottom: 200px;
    background-image: url(./img/quiz-dark.png);
    background-size: cover;
}



#pic-4 {
    background-image: url(./img/scheduler-dark.png);
    height: 150px;
    width: 50%;
    background-size: cover;
}

#pic-5 {
    background-image: url(./img/pass-dark.png);
    background-size: cover;
    width: 50%;
    height: 150px;
    
}


#pic-1:hover {
   
    cursor: pointer;
    background-image: url(./img/pic-1-hover.png);
}
#pic-2:hover {
    cursor: pointer;
    background-image: url(./img/weather-hover.png);
}
#pic-3:hover {
    cursor: pointer;
    background-image: url(./img/quiz-hover.png);
}
#pic-4:hover {
    cursor: pointer;
    background-image: url(./img/scheduler-hover.png);
}
#pic-5:hover {
    cursor: pointer;
    background-image: url(./img/pass-hover.png);
}


.contact-info a {
    text-decoration: none;
    color: #3c456a;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.contact-info {
    display: flex;
    justify-content: center;
    height: 200px;
    margin-left: 20%;
}
/* -------- w3 help --------- */
.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.column {
    margin: 20px;
    padding-left: 100px;
}


@media screen and (max-width:980px){

    .portfolio {
        display: block;
    }
}

@media screen and (max-width:768px){
    
    nav a {
        display: block;
        flex-direction: row;
        text-align: center;
        margin-right: auto;
    }

    .portfolio {
        display: block;
        text-align: center;
    }

    .hero {
        width: 100%;
    }

    .header {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }

    .main-headers h2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .main-headers {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .mainBtn {
        font-size: 40px !important;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .main-content {
        margin-left: 0px;
        text-align: center;
        padding: 0px;
        
    }

    .contact-info {
        margin-left: 0;
    }
   
    

    
}