/* variable for font  */
:root {
    --secondary: rgba(139, 179, 238);
}
/* import from google font  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* edit all pade  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: rgba(255, 255, 255, 0.842);
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    background-color: #3c456a;
    
}

.header h1 {
    display: inline-block;
    background-color: rgb(169, 226, 230);
    color:  #3c456a;
    padding-left: 100px;
}
 

header {
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 nav a {
    text-decoration: none;
    margin-left: 8px;
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    color:  rgb(169, 226, 230);
    padding: 5px 10px;
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
 }
nav a:hover {
    background-size: 100%;

}

.main-headers {
    padding-left: 100px;
    margin-left: 20%;
    color: #3c456a;
    display: grid;
}


.main-content p {
     color: #3c456a;
     margin-left: 20px;
     padding: 10px;
}

.hero {
    display: flex;
    width: 100%;
    height: 300px;
}

.portfolio {
  position: relative;
  float: right;
  bottom: 70px;
  right: 60px;
  background-color: rgb(139, 179, 238);
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 70px;
  font-size: 3vw;
}

.column p {
    position: absolute;
    /* float: right; */
    background-color: rgb(169, 226, 230);
    text-align: center;
    font-size: 25px;
    border: 5px solid rgb(169, 226, 230);
}

#pic-1 {
    border: 5px solid rgb(169, 226, 230);
    height: 250px;
    width: 600px;
    display: inline-flex;
    margin-top: 100px;
    background-image: url("./img/pic-1.jpg");
 } 

.img-label {
    /* position: absolute; */
    background-color: rgb(169, 226, 230);
    margin-top: 100px;
    padding-left: 100px;
}
 
#pic-2 {
    height: 180px;
    width: 300px;
    padding-top: 0;
    margin-top: 0;
    border: 5px solid rgb(169, 226, 230);
    background-image: url("./img/pic-2.jpg");
    background-size: contain;
}

.img-label2 {
    /* position: absolute; */
    margin-bottom: 50px;
    padding-left: 50px;
    margin-top: 60px;
    
}

#pic-3 {
    border: 5px solid rgb(169, 226, 230);
    height: 180px;
    width: 300px;
    padding-top: 0;
    margin-top: 0;
    bottom: 200px;
    background-image: url(./img/pic-3.jpg);
}

.img-label3 {
    padding-left: 50px;
    margin-bottom: 40px;
    /* margin-right: 50px; */
    margin-bottom: 80px;
}


#pic-4 {
    background-image: url(./img/pic-4.jpg);
    height: 180px;
    width: 300px;
    background-size: contain;
    border: 5px solid rgb(169, 226, 230);
}

.img-label4 {
    margin-top: 30px;
    padding-left: 50px;
}

#pic-5 {
    background-image: url(./img/pic-5.jpg);
    background-size: contain;
    width: 300px;
    height: 180px;
    border: 5px solid rgb(169, 226, 230);
}

.img-label5 {
    margin-top: 30px;
    padding-left: 50px;
}

span {
    font-size: 15px;
}

.vertical-line {
    border-left: 5px solid black;
    margin-left: 100px;
    padding-left: 80px;
    
}


.contact-info a {
    text-decoration: none;
    padding: 5px 10px;
}
/* -------- w3 help --------- */
.row {
    margin: 8px -16px;
}

.row > .column{
    padding: 8px;
    
}
/* ---- problem */
/* .column {
    float: left;
    width: 25%;
  }      

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .content {
    background-color: white;
    padding: 10px;
  } */